<!doctype html>
<html>
    <head>
        <base href="/">
        <meta charset="utf-8">
        <title>Android School</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/png" href="https://developer.android.com/favicon.ico">

        <link rel="stylesheet" href="index-00a59285c6.css">
    </head>

    <body ng-app="app">
        <ui-view></ui-view>
    </body>

    <script src="index-e053196d30.js"></script>
</html>
